<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">

    <h3 class="card-title">Category</h3>
  <span style="float:right"><%= link_to 'Add Category', new_category_path %></span>

  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Title</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
    
      <% @count = 0 %>
      <% @categories.each do |category| %>
        <tr>
          <td><%= @count += 1 %> </td>
          <td><%= category.title%></td>
          
          
          <td><span class="badge bg-danger"><%= category.type %></span></td>
          <td><%= link_to 'Show', category_path(category) %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
 
        </tr>
        
        <%end %>
      </tbody>
    </table>
    <%= paginate @categories %>

  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

