<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">

    <h3 class="card-title">Expense</h3>
  <span style="float:right"><%= link_to 'Add Expense', new_expense_path %></span>

  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Title</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
    
        <% @count = 0 %>
        <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.title %></td>
          <td><%= expense.description %></td>
          <td><%= expense.category_id %></td>
          <td><%= link_to 'Show', expense %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
          <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @expenses %>
  </div>
</div>

